.dropdown-menu {
  display: none;
  position: absolute;
}

a.dropdown-toggle:focus,
a.dropdown-toggle:active {
  background: #f2f2f2;
}

a.dropdown-toggle:focus + .dropdown-menu,
a.dropdown-toggle:active + .dropdown-menu {
  display: block;
}

.dropdown-menu:hover {
  display: block;
}

.collapse-content {
  display: none;
  heigth: 0;
  transition: height 1s linear;
}

a.collapse-toggler:focus + .collapse-content,
a.collapse-toggler:active + .collapse-content {
  display: block;
  height: 100%;
}

.collapse-content:hover {
  display: block;
}

.img-responsive {
  display: block;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-preview {
  max-width: 200px;
  max-height: 200px;
  display: inline;
}

.add-schedule:hover {
  cursor: pointer;
}

.day-box {
  background: white;
  color: black;
  border-radius: 0.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.day-box:hover {
  cursor: pointer;
  background: #5764c6;
  border-color: #4c59c2;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  transition: all 300ms ease;
}

label input[type="checkbox"] {
  display: none;
}

label input[type="checkbox"]:checked ~ .day-box {
  background: #5764c6;
  border-color: #4c59c2;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}

.not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}