// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


//home nav 
.horizontal-scroll { 
    width: 100%;
    display: block;
    white-space: nowrap;
    font-size: 0;
     overflow: auto; 
     }
.item-scroll { 
    display: inline-block;
    margin:5px;
 }

.nav-res{
  background:rgba(243, 242, 242, 0.97);
  box-shadow: 1px 0px 13px -3px #888888;
  z-index:9999;
  position: fixed;
  right:0;
  width:0;
  top: 0;
  height:100%;
  transition: 0.5s;
  overflow-x: hidden;
}
.open-nav{
  background:rgba(243, 242, 242, 0.97);
  box-shadow: 1px 0px 13px -3px #888888;
  z-index:9999;
  position: fixed;
  right:0;
  width:25%;
  top: 0;
  height:100%;
  transition: 0.5s;
  overflow-x: hidden;
}
div.open-main-padding {
  padding-right: 0%;
  transition: padding-right .5s;
}
div.close-main-padding {
  padding-right: 25%;
  transition: padding-right .5s;
}
@media screen and (max-width: 450px) {
  .nav-res {width:0%;}
  .open-nav {width: 100%;}
}

//tables

.tables-select{
  margin-top:70px;
  margin-left:10px;
}

.right-4{
  padding-right:4%;
}

.right-column{
  padding:5em 0 !important;
}

.title-icon img{
  height: auto;
  width: 100px;
}

//dropdown

.dropdown-menu {
  display: none;
  position: absolute;
}
a.dropdown-toggle:focus,
a.dropdown-toggle:active {
  background: #f2f2f2;
}
a.dropdown-toggle:focus+.dropdown-menu,
a.dropdown-toggle:active+.dropdown-menu {
  display: block;
}
.dropdown-menu:hover {
  display: block;
}

.collapse-toggler:hover{
  cursor: pointer;
}

.collapse-content{
  display:none;
  height:0;
  transition: height 1s linear;
}

a.collapse-toggler:focus+.collapse-content,
a.collapse-toggler:active+.collapse-content{
  display:block;
  height: 100%;
}


.button-group{
  margin-bottom: 20px;
}

//Summary & details -- Collapse
details[open] SUMMARY~* {
  animation: sweepin .5s ease-in-out;
}

details.close SUMMARY~* {
  animation: sweepout .5s ease-in-out;
}

@keyframes sweepin {
  0% {
    opacity: 0;
    margin-left: -10px
  }
  100% {
    opacity: 1;
    margin-left: 0px
  }
}

@keyframes sweepout {
  0% {
    opacity: 1;
    margin-left: 0px
  }
  100% {
    opacity: 0;
    margin-left: -10px
  }
}

.img-responsive{
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.img-preview{
  max-width: 200px;
  max-height: 200px;
  display: inline;
}

.add-schedule:hover{
  cursor: pointer;
}

.day-box{
  background: white;
  color: black;
  border-radius: 0.1em;
  user-select: none;
}
.day-box:hover{
  cursor: pointer;
  background: #5764c6;
  border-color: #4c59c2;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

label input[type="checkbox"]{
  display: none;
}

label input[type="checkbox"]:checked ~ .day-box{
  background: #5764c6;
  border-color: #4c59c2;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}

.not-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Mierda varias
//
//
// .navbar-fixed-side {
//   @media (max-width: $grid-float-breakpoint) {
//     margin-left: -15px;
//     margin-right: -15px;
//   }
//
//   @media (min-width: $grid-float-breakpoint) {
//     $navbar-default-link-hover-bg: darken($navbar-default-bg, 3%);
//     $navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 5%);
//     $navbar-inverse-border: lighten($navbar-inverse-bg, 8%);
//
//     position: fixed;
//     margin: 0 -15px;
//     height: 100vh;
//     width: inherit;
//     overflow: auto;
//     border-top-width: 0;
//     border-bottom-width: 0;
//     border-radius: 0;
//
//     .container, .container-fluid {
//       width: auto;
//       padding-left: 0;
//       padding-right: 0;
//     }
//
//     .navbar-header {
//       float: none;
//     }
//
//     .navbar-brand {
//       height: auto;
//     }
//
//     > .container, > .container-fluid {
//       .navbar-brand {
//         margin-left: 0;
//       }
//     }
//
//     .navbar-collapse {
//       width: 100%;
//       border-top: 1px solid $navbar-default-border;
//     }
//
//     .navbar-nav {
//       float: none;
//       margin: 0 (-$navbar-padding-horizontal);
//
//       > li {
//         float: none;
//         > a {
//           padding-top:    10px;
//           padding-bottom: 10px;
//           border-bottom: 1px solid $navbar-default-border;
//         }
//       }
//     }
//
//     .navbar-form {
//       margin: 0;
//       margin-left: -$navbar-padding-horizontal;
//       margin-right: -$navbar-padding-horizontal;
//       padding: 10px $navbar-padding-horizontal;
//       border-bottom: 1px solid $navbar-default-border;
//     }
//
//     .navbar-text {
//       float: none;
//       margin-left: 0;
//       margin-right: 0;
//     }
//
//     .navbar-left,
//     .navbar-right {
//       float: none !important;
//     }
//
//     .navbar-nav {
//       .dropdown-menu {
//         position: static;
//         float: none;
//         width: auto;
//         margin-top: 0;
//         background-color: transparent;
//         border: 0;
//         box-shadow: none;
//         border-bottom: 1px solid $navbar-default-border;
//
//         > li > a,
//         .dropdown-header {
//           padding: 5px 15px 5px 25px;
//         }
//
//         > li {
//           > a {
//             line-height: $line-height-computed;
//             color: $navbar-default-link-color;
//
//             &:hover, &:focus {
//               background-image: none;
//             }
//           }
//         }
//
//         > .active > a {
//           background-color: $navbar-default-link-active-bg;
//           color: $navbar-default-link-active-color;
//         }
//       }
//
//       > li > a,
//       .dropdown-menu > li > a {
//         &:hover, &:focus {
//           background-color: $navbar-default-link-hover-bg;
//           color: $navbar-default-link-hover-color;
//         }
//       }
//     }
//
//     .dropdown > .dropdown-toggle,
//     .dropdown-menu > .dropdown-header {
//       background-color: transparent !important;
//       color: lighten($navbar-default-color, 15%) !important;
//       cursor: default;
//       font-size: 0.8em;
//       text-transform: uppercase;
//       border-bottom: none;
//       padding-bottom: 0;
//     }
//
//     .dropdown-toggle .caret {
//       display: none;
//     }
//
//     .dropdown-menu {
//       display: block;
//     }
//
//     &.navbar-inverse {
//       .navbar-collapse,
//       .navbar-nav > li > a,
//       .navbar-form,
//       .navbar-nav .dropdown-menu {
//         border-color: $navbar-inverse-border;
//       }
//
//       .divider {
//         background-color: $navbar-inverse-border;
//       }
//
//       .navbar-nav {
//         .dropdown-menu > li > a {
//           color: $navbar-inverse-link-color;
//         }
//
//         .dropdown-menu > .active > a {
//           background-color: $navbar-inverse-link-active-bg;
//           color: $navbar-inverse-link-active-color;
//         }
//
//         > li:not(.active) > a,
//         .dropdown-menu > li:not(.active) > a {
//           &:hover, &:focus {
//             background-color: $navbar-inverse-link-hover-bg;
//             color: $navbar-inverse-link-hover-color;
//           }
//         }
//       }
//
//       .dropdown > .dropdown-toggle {
//         color: darken($navbar-inverse-color, 15%) !important;
//       }
//     }
//   }
// }
